* {
    font-family: Tektur;
}
body{
    background-color: #C1BDB3;
    transition: body 1s ease-in-out;
}

header{
    text-align: center;
    padding: 60px;
    font-size: 30px;
    background-color: #C1BDB3;
}

header *{
    padding: 5px;
}

hr{
    border-color: #7C7D78;
}

b{
    color: #313130;
}

p, h1, h2, h3, h4, h5, h6{
    font-family: Tektur;
    color: white;
    text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-color: #313130;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #7C7D78;
}
