body{
    background-color: #C1BDB3;
    transition: body 1s ease-in-out;
}

header{
    text-align: center;
    padding: 60px;
    font-size: 30px;
    background-color: #C1BDB3;
}

header *{
    padding: 5px;
}

hr{
    border-color: #7C7D78;
}

b{
    color: #313130;
}

p, h1, h2, h3, h4, h5, h6{
    font-family: Tektur;
    color: white;
    text-align: center;
}


